h1 {
    font-family: cursive;
    display: flex;
    text-align: center;
    justify-content: center;
}

#container-do-temporizador {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

#contagem-regressiva {
    font-size: 48px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s;
    color: rgb(204, 68, 5);
    font-family: cursive;
    text-align: center;
    display: inline-block;
    padding: 5px 10px;
  }

.centro {
    display: flex;
    justify-content: center;
    align-items: center;
}